/* table{
    border: 1px solid #ffbbbb;
    width: 600px;
    
}
table, tr, th{
    border: 1px solid #ffbbbb;
} */
table {
    border-collapse: collapse;
    width: 100%; 
    table-layout: fixed;
}

 table,tr, th,td{
    border: 1px solid rgb(233, 107, 123);
    margin: 0px;
    padding: 0px;
    font: tahoma;
    /* font-size: 12px; */
}
img {
    margin-left: 5%;
    width: 90%; 
    height: 90%;
    margin-bottom: -5px;
}
/* .images{
    width: 100px;
    height: 100px;
} */