/* #bai7 h1 {
    color: #13af13;
    text-align: center;
} */
img{
    float: left;
    max-width: 100%;
    margin-right: 20px;
}
h2{
    text-align: center;
    color: rgb(228, 79, 128);
    font-size: 36px;
}

