body {
    overflow: scroll;
}

form {
    width: 100%;
}

h1 {
    text-align: center;
}

h1, label, td {
    color: green;
}

table {
    background-color: rgb(193, 211, 174);
    width: 70%;
    margin: 0px auto;
    border-collapse: collapse;
    
}

 table,tr, th, td{
    border: 1px solid cadetblue;
    font: tahoma;
    font-size: 16px;
}


td {
    margin-right: 40px;
}