/* table{
    border: 1px solid  red;
    width: 600px;
}
table, th, td{
    border: 1px solid  #CC0033;

} */
 h2{
    color: #cc0033;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ff9933;
}
 th,  td {
    border: 1px solid #ff9933;
}
 th {
    background-color: #cc0033;
    color: #fff;
}
.td {
    color: #cc0033;
}